<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="post-your-story-wrapper">
	<div id="post-your-story">
    	<div class="frm-post-story-label">Package Name:</div>
        <div class="frm-input-post-story"><input type="text" /></div>
    	<div class="frm-post-story-label">Description:</div>
        <div class="frm-input-post-story"><textarea></textarea></div>
       	<div class="frm-post-story-label">Image:</div>
        <div class="frm-input-post-story"><img src="images/activities-no-image-120.jpg" /></div>

    </div>
</div>
</body>
</html>
